services:
  streamlit-visualization:
    build: ./streamlit-visualization
    ports:
      - "8501:8501"
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      # Монтируем приложение целиком, чтобы логи и код писались на хост
      - ./streamlit-visualization/app:/app

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      - ./backend/app:/app/app

  telegram-bot:
    build: ./telegram-bot
    env_file:
      - .env
    networks:
      - app-network
    volumes:
      # Монтируем приложение и директорию логов в хост
      - ./telegram-bot/app:/app
    restart: always

  
  redis:
    image: redis:7
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_USER: ${REDIS_USER}
      REDIS_USER_PASSWORD: ${REDIS_USER_PASSWORD}
    networks:
      - app-network
    ports:
      - "6379:6379"

  postgres:
    image: postgres:13
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_USER}
    networks:
      - app-network
    ports:
      - "5432:5432"

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: